{#
/**
 * @file
 * S3WaaS's override for language switcher block
 *
 * Available variables:
 * - theme_version: For accessibility links and language switcher.
 * - last_update: For the branding logo and sitename with secondary branding.
 * - visitor_count: For the main menu in container.
 *
 * @see template_preprocess_block()
 *
 */
#}
<div class="row text-white">
  <div class="col-sm-4 text-left">
    <span class="theme-version">{{ 'Version:'|t }}
      {{ theme_version }}</span>
  </div>
  <div class="col-sm-4 text-center">
    <span class="last-update">{{ 'Last Updated:'|t }}{{ last_update }}</span>
  </div>
  <div class="col-sm-4 text-right">
    <span class="visitor-count">{{ 'Visitors:'|t }}{{ visitor_count }}</span>
  </div>
</div>
<div class="row text-white">
  <div class="col-sm-2 offset-sm-2 text-right">
    <a href="http://www.nic.in/">
      <img src="/{{ directory }}/images/icons/nicLogo.png" alt="National Informatics Centre">
    </a>
  </div>
  <div class="col-sm-4 text-center footer-content">
    <div>{{ 'Content Owned by District Administration'|t }}</div>
    <p class="text-warning">
      {{ 'Developed and hosted by'|t }}
      <a href="http://www.nic.in/" class="text-light" target="_blank">
        {{ 'National Informatics Centre'|t }}
      </a>
    </p>
  </div>
  <div class="col-sm-2 text-left">
    <a href="http://www.digitalindia.gov.in/">
      <img src="/{{ directory }}/images/icons/digitalIndia.png" alt="Digital India">
    </a>
  </div>
</div>
