<div class="row p-5 text-center">
  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
    <div><span class="highlight-circle"><i class="fa fa-chart-area"></i></span></div>
    <div class="list-text">
      <span>{{ 'Area: '|t }}<a href="{{ bangla }}/maps">{{ '3733 Sq Km'|t }}</a></span>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
    <div><span class="highlight-circle"><i class="fa fa-th"></i></span></div>
    <div class="list-text">
      <span>{{ 'Blocks: '|t }}<a href="{{ bangla }}/blocks">{{ '15'|t }}</a></span>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
    <div><span class="highlight-circle"><i class="fa fa-th-list"></i></span></div>
    <div class="list-text">
      <span>{{ 'GPs: '|t }}<a href="{{ bangla }}/gram-panchayats">{{ '146'|t }}</a></span>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
    <div><span class="highlight-circle"><i class="fa fa-home"></i></span></div>
    <div class="list-text">
      <span>{{ 'Villages: '|t }}<a href="{{ bangla }}/villages">{{ '3701'|t }}</a></span>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
    <div><span class="highlight-circle"><i class="fa fa-car"></i></span></div>
    <div class="list-text">
      <span>{{ 'Police Stations: '|t }}<a href="{{ bangla }}/police-stations">{{ '15'|t }}</a></span>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
    <div><span class="highlight-circle"><i class="fa fa-users"></i></span></div>
    <div class="list-text">
      <span>{{ 'Population: '|t }}<a href="{{ bangla }}/census">{{ '39,88,845'|t }}</a></span>
    </div>
  </div>
</div>
