{#
/**
 * @file
 * S3WaaS's override for language switcher block
 *
 * Available variables:
 * - theme_version: git version tags.
 * - changed: last updated timestamp of current content node.
 *
 * @see template_preprocess_block()
 *
 */
#}
<div class="row text-white text-center">
  <span class="theme-version">
    {{ 'Updated at:'|t }} {{ changed|format_date('custom', 'd/m/Y h:i A') }}
  </span>
</div>
<div class="row text-white">
  <div class="col-sm-2 offset-sm-2 text-right">
    <a href="http://www.nic.in/">
      <img src="/{{ directory }}/images/icons/nicLogo.png" alt="National Informatics Centre">
    </a>
  </div>
  <div class="col-sm-4 text-center footer-content">
    <div>{{ 'Content Owned by District Administration'|t }}</div>
    <p class="text-warning">
      {{ 'Developed and hosted by'|t }}
      <a href="http://www.nic.in/" class="text-light" target="_blank">
        {{ 'National Informatics Centre'|t }}
      </a>
    </p>
  </div>
  <div class="col-sm-2 text-left">
    <a href="http://www.digitalindia.gov.in/" target="_blank">
      <img src="/{{ directory }}/images/icons/digitalIndia.png" alt="Digital India">
    </a>
  </div>
</div>
<div class="row text-white text-center">
  <span>{{ 'Version:'|t }} {{ theme_version }}</span>
</div>
