{#
/**
 * @file
 * S3WaaS's override for language switcher block
 */
#}
<section id="topBar1" class="wrapper">
  <div class="container">
    <div class="push-right" role="navigation" aria-label="Primary">
      <div id="accessibility">
        <ul id="accessibilityMenu">
          <li>
            <a href="#SkipContent" class="skip-to-content" title="{{ 'Skip to main content'|t }}">
              <span class="icon-skip-to-main responsive-show"></span>
              <strong class="responsive-hide">{{ 'Skip to main content'|t }}</strong>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" title="Site Search">
              <span class="icon-search" aria-hidden="true"></span>
            </a>
            <div class="goiSearch" role="search">
              <form onsubmit="" action="" method="get">
                <label for="search" class="hide">Search</label>
                <input type="search" title="Enter Text" name="s" id="search" value="">
                <button type="submit" title="Search">
                  <small class="tcon">Search</small>
                  <span class="icon-search" aria-hidden="true"></span>
                </button>
              </form>
            </div>
          </li>
          <li>
            <a href="javascript:void(0);" title="Social Media Links" class="show-social-links">
              <span class="fa fa-share-square" aria-hidden="true">
                <span class="icon-facebook"></span>
                <span class="icon-twitter"></span>
                <span class="icon-youtube"></span>
              </span>
              <span class="off-css">Social Media Links</span>
            </a>
            <div class="socialIcons" role="complementary">
              <ul>

                <li class="ico-social">
                  <ul>
                    <li><a href="#" target="_blank" aria-label="Facebook | External site that opens in a new window"><img src="/{{ directory }}/images/icons/ico-facebook.png" title="Facebook | External site that opens in a new window" alt="Facebook | External site that opens in a new window"></a></li>
                    <li><a href="#" target="_blank" aria-label="Twitter | External site that opens in a new window"><img src="/{{ directory }}/images/icons/ico-twitter.png" title="Twitter | External site that opens in a new window" alt="Twitter | External site that opens in a new window"></a></li>
                    <li><a href="#" target="_blank" aria-label="Youtube | External site that opens in a new window"><img src="/{{ directory }}/images/icons/ico-youtube.png" title="Youtube | External site that opens in a new window" alt="Youtube | External site that opens in a new window"></a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="" title="Sitemap">
              <span class="off-css">Site Map</span>
              <span class="fa fa-sitemap" aria-hidden="true"></span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" title="Accessibility Links" aria-label="Accessibility Links" class="mobile-show accessible-icon">
              <span class="off-css">Accessibility Links</span>
              <span class="icon-accessibility" aria-hidden="true"></span>
            </a>
            <div class="accessiblelinks textSizing">
              <ul>
                <li>
                  <a href="javascript:void(0);" class="font-size" id="increase" aria-label="Font Size Increase" title="Font Size Increase">
                    <span aria-hidden="true">A+</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="font-size" id="normal" aria-label="Normal Font" title="Normal Font">
                    <span aria-hidden="true">A&nbsp;</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="font-size" id="decrease" aria-label="Font Size Decrease" title="Font Size Decrease">
                    <span aria-hidden="true">A-</span>
                  </a>
                </li>
                <li class="highContrast dark tog-con">
                  <a href="javascript:void(0);" class="contrast" id="dark" aria-label="High Contrast" title="High Contrast">
                    <span aria-hidden="true">A</span>
                  </a>
                </li>
                <li class="highContrast light">
                  <a href="javascript:void(0);" class="contrast" id="light" aria-hidden="true" aria-label="Normal Contrast" title="Normal Contrast">
                    <span aria-hidden="true">A</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a class="lang-switcher change-language" aria-label="{{ switch_lang }}" href="{{ switch_path }}">
              {{ switch_lang }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="push-left">
      <div class="govBranding">
        <ul>
          <li>
            <a href="http://wb.gov.in" lang="grt">{{ 'Government of West Bengal'|t }}</a>
          </li>
          <li>
            <a href="{{ path('<front>') }}">{{ 'Malda District'|t }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
