<div class="row p-5 text-center">
  <div class="col-sm-2">
    <div><span class="highlight-circle"><i class="fa fa-chart-area"></i></span></div>
    <div class="list-text">
      <span>Area: <a href="{{ bangla }}/maps">3733 Sq Km</a></span>
    </div>
  </div>

  <div class="col-sm-2">
    <div><span class="highlight-circle"><i class="fa fa-users"></i></span></div>
    <div class="list-text">
      <span>Population: <a href="{{ bangla }}/census">39,88,845</a></span>
    </div>
  </div>

  <div class="col-sm-2">
    <div><span class="highlight-circle"><i class="fa fa-th"></i></span></div>
    <div class="list-text">
      <span>Blocks: <a href="{{ bangla }}/blocks">15</a></span>
    </div>
  </div>

  <div class="col-sm-2">
    <div><span class="highlight-circle"><i class="fa fa-th-list"></i></span></div>
    <div class="list-text">
      <span>GPs: <a href="{{ bangla }}/gram-panchayats">146</a></span>
    </div>
  </div>

  <div class="col-sm-2">
    <div><span class="highlight-circle"><i class="fa fa-home"></i></span></div>
    <div class="list-text">
      <span>Villages: <a href="{{ bangla }}/villages">3701</a></span>
    </div>
  </div>

  <div class="col-sm-2">
    <div><span class="highlight-circle"><i class="fa fa-car"></i></span></div>
    <div class="list-text">
      <span>Police Stations: <a href="{{ bangla }}/police-stations">15</a></span>
    </div>
  </div>
</div>
