<div class="row p-5">
  <div class="col-md-6">
    <h4>{{ 'Public Utilities'|t }}</h4>
    <div class="row">
      <div class="col-md-6 public_utils">
        <span class="public_util_name">{{ 'High Schools'|t }}</span>
        <span class="counter bg-primary pull-right">
          <a href="{{ bangla }}/high-schools">240</a>
        </span>
      </div>
      <div class="col-md-6 public_utils">
        <span class="public_util_name">{{ 'Primary Schools'|t }}</span>
        <span class="counter bg-warning pull-right">
          <a href="{{ bangla }}/primary-schools">1777</a>
        </span>
      </div>
      <div class="col-md-6 public_utils">
        <span class="public_util_name">{{ 'Colleges'|t }}</span>
        <span class="counter bg-danger pull-right">
          <a href="{{ bangla }}/colleges">11</a>
        </span>
      </div>
      <div class="col-md-6 public_utils">
        <span class="public_util_name">{{ 'Govt. Hospitals'|t }}</span>
        <span class="counter bg-success pull-right">
          <a href="{{ bangla }}/govt-hospitals">19</a>
        </span>
      </div>
      <div class="col-md-6 public_utils">
        <span class="public_util_name">{{ 'Pvt. Hospitals/Nursing Homes'|t }}</span>
        <span class="counter bg-primary pull-right">
          <a href="{{ bangla }}/private-hospitals">24</a>
        </span>
      </div>
      <div class="col-md-6 public_utils">
        <span class="public_util_name">{{ 'Railway Stations'|t }}</span>
        <span class="counter bg-success pull-right">
          <a href="{{ bangla }}/railway-stations">19</a>
        </span>
      </div>
      <div class="col-md-6 public_utils">
        <span class="public_util_name">{{ 'Fire Brigades'|t }}</span>
        <span class="counter bg-warning pull-right">
          <a href="{{ bangla }}/fire-brigade">1</a>
        </span>
      </div>
      <div class="col-md-6 public_utils">
        <span class="public_util_name">{{ 'Airports'|t }}</span>
        <span class="counter bg-success pull-right">
          <a href="{{ bangla }}/airports">5</a>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-3 quick-links">
    <h4>{{ 'Quick Links'|t }}</h4>
    <ul>
      <li>
        <a href="https://maldaeoffice.wb.gov.in/" target="_blank">{{ 'eOffice'|t }}</a>
      </li>
      <li>
        <a href="/apps">{{ 'Public Grievance'|t }}</a>
        <ul>
          <li><a href="/apps/grievance">{{ 'Lodge Your Grievance'|t }}</a></li>
          <li><a href="/apps/grievance_status">{{ 'Check Grievance Status'|t }}</a></li>
        </ul>
      </li>
      <li>
        <a href="/apps">SDO Court</a>
        <ul>
          <li><a href="/apps/todays_hearing">{{ 'Today\'s Hearing'|t }}</a></li>
          <li><a href="/apps/search_case">{{ 'Check Your Case Status'|t }}</a></li>
        </ul>
      </li>
      <li>
        <a href="https://wb.gov.in/" target="_blank">{{ 'State Portal'|t }}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <h4>Helpline Number</h4>
    <div class="row">
      <div class="col-md-5 helpline-number">
        <div class="head">{{ 'Emergency Helpline'|t }}</div>
        <div class="number">112</div>
      </div>
      <div class="col-md-5 helpline-number">
        <div class="head">{{ 'Police'|t }}</div>
        <div class="number">100</div>
      </div>
      <div class="col-md-5 helpline-number">
        <div class="head">{{ 'Childline'|t }}</div>
        <div class="number">1098</div>
      </div>
      <div class="col-md-5 helpline-number">
        <div class="head">{{ 'Women Helpline'|t }}</div>
        <div class="number">1091</div>
      </div>
      <div class="col-md-5 helpline-number">
        <div class="head">{{ 'Voters Helpline'|t }}</div>
        <div class="number">1950</div>
      </div>
      <div class="col-md-5 helpline-number">
        <div class="head">{{ 'Electricity'|t }}</div>
        <div class="number">19121</div>
      </div>
    </div>
  </div>
</div>
