{% extends "block.html.twig" %}
{#
/**
 * @file
 * S3WaaS's override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
<section class="wrapper header-wrapper">
  <div class="header-container">
    <div class="logo">
      <a href="{{ path('<front>') }}" aria-label="{{ 'Go to home'|t }}" title="{{ 'Home'|t }}" class="emblem"
        rel="home">
        {% if site_logo %}
        <img class="site_logo" id="logo" src="{{ site_logo }}" alt="{{ 'Home'|t }}">
        {% endif %}
        <div class="site_text">
          {% if site_name %}
          <strong class="site-name">{{ site_name }}</strong>
          {% endif %}
          {% if site_slogan %}
          <h1 class="site-slogan">{{ site_slogan }}</h1>
          {% endif %}
        </div>
      </a>
    </div>
    <div class="header-right clearfix">
      <div class="right-content clearfix">
        <div class="float-element">
          <a aria-label="{{ 'West Bengal Tourism'|t }}" href="https://www.wbtourismgov.in/" target="_blank"
            title="{{ 'West Bengal Tourism'|t }}">
            <img class="sw-logo" src="/{{ directory }}/images/icons/tourism_logo.png"
              alt="{{ 'West Bengal Tourism'|t }}" height="95">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
