<div class="row">
  <div class="col-sm-12 p-0">
    <div class="home-slider full-cntrl-left-caption-bottom nav-white flexslider main-banner-three">
      <ul class="slides">
      {% for i in 1..20 %}
        <li>
          <img alt='Slide {{ i }}' src='/{{ directory }}/images/slider/{{ i }}.jpg'/>
          <div class="container p-0">
            <div class="slide-caption pl-0">
              <p class="heading3">{% trans %}Slide	{{ i }} Caption{% endtrans %}</p>
              <p>{% trans %}Slide {{ i }} Description{% endtrans %}</p>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
