<!--<header id="mainHeader">-->
<a href="#" title="sroll" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-up"></i></a>
<header>
    <section id="topBar1" class="wrapper">
        <div class="container">

            {{ page.top_menu }}




        </div>
    </section>
    <section class="wrapper header-wrapper">
        <div class="container header-container">
            <div class="logo">
                {{ page.branding_1 }}
            </div>
            <div class="header-right clearfix">
                {{ page.branding_2 }}
            </div>
        </div>
    </section>
    <div class="header" id="header">
        <div class="menu1" id="cssmenu">

            {{ page.main_menu }}
        </div>
    </div>
</header>
<style>
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
</style>
<div class="wrapper bodyWrapperno_padding" style="padding: 0px; margin:0px" role="main">
    <div class="container-fluid home-3">

        <div id="SkipContent"></div>
        <div class="row">
            <div class="col-12">

                <div id="post-17697" class="post-17697 page type-page status-publish hentry">
                    <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                {% if page.slider %} {{ page.slider }} {% endif %}

                            </div>

                        </div>

                    </div>


                    <div class="vc_row-full-width vc_clearfix"></div>




                    <div class="vc_row pt-5">
                        <div class="vc_col-sm-3 text-center ">
                            {% if page.highlight_1 %} {{ page.highlight_1 }} {% endif %}
                        </div>

                        <div class="vc_col-sm-3 text-center">

                            {% if page.highlight_2 %} {{ page.highlight_2 }} {% endif %}
                        </div>
                        <div class="vc_col-sm-3 text-center">

                            {% if page.highlight_3 %} {{ page.highlight_3 }} {% endif %}
                        </div>
                        <div class="vc_col-sm-3 text-center">

                            {% if page.highlight_4 %} {{ page.highlight_4 }} {% endif %}
                        </div>
                    </div>
                    <div class="vc_row pt-5">
                        <div class="vc_col-sm-6  p-3 ">

                            {% if page.about_district %} {{ page.about_district }} {% endif %} {% if page.content %} {{ page.content }} {% endif %}
                        </div>
                        <div class="vc_col-sm-6 mb-4  mb-md-0">





                            {% if page.district_update %} {{ page.district_update }} {% endif %}






                        </div>
                    </div>




                    <div class="vc_row wpb_row vc_row-fluid  vc_row-has-fill">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="gen-list no-border no-bg padding-0 border-radius-none iconTop-textBottom-box-list find-services-boxstyle  normal-font ">


                                        {% if page.services %} {{ page.services }} {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row-full-width vc_clearfix">

                    </div>
                    <div class="vc_row wpb_row vc_row-fluid public-important-helpline vc_custom_1516263996570">
                        <div class="wpb_column vc_column_container vc_col-sm-5">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">

                                    {% if page.public_utility %} {{ page.public_utility }} {% endif %}


                                </div>

                            </div>

                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="gen-list no-border no-bg padding-0 border-radius-none default-list important-links-three  normal-font ">
                                        <ul>
                                            {% if page.quick_links %} {{ page.quick_links }} {% endif %}



                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="gen-list no-border no-bg padding-0 border-radius-none no-list helpline-no col-two normal-font ">

                                        {% if page.helpline_number %} {{ page.helpline_number }} {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_custom_1499927042202 vc_row-no-padding">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div id="footerNew" align="center">
                                        <img src="/{{ directory }}/images/footer_top_bg.gif" alt="Biswa Bangla" width="100%">
                                    </div>
                                    <div id="footerScrollbarWrapper" class="footerlogocarousel withbg withborder">

                                        <div>


                                            {% if page.footer_slider %} {{ page.footer_slider }} {% endif %}




















                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row-full-width vc_clearfix"></div>

                </div>
                <!-- end of the loop -->

            </div>
        </div>
    </div>
</div>
<footer id="footer2" class="footer-home">
    <div class="container">
        <div class="footerMenu">

            <div class="vc_row text-white">

                <div class="vc_col-sm-4 text-left">
                    {{ page.version }}
                </div>
                <div class="vc_col-sm-4 text-center">
                    {{ page.last_updated }}
                </div>
                <div class="vc_col-sm-4 text-right">
                    {{ page.visitor_count }}
                </div>
            </div>
            <div class="text-white p-2"></div>
            {{ page.footer_menu }}</div>

        <div class="copyRights">


            <div class="vc_row">

                {{ page.footer_description }}
            </div>



        </div>
    </div>
    </div>
</footer>
